ExpenseCode/obj/
ExpenseCode/bin/Release/AccountManager.vshost.exe
ExpenseCode/bin/Release/AccountManager.vshost.exe.config
ExpenseCode/bin/Release/AccountManager.vshost.exe.manifest
ExpenseCode/bin/Release/AccountManager.pdb
ExpenseCode/bin/Release/AccountManager.xml
ExpenseCode/bin/Release/tmpreport.pdf


